body,
html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}


/* Oyun container'ı ekranın tamamını kaplar */

.oyun-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(172, 240, 255);
}


/* Yol, oyun alanının alt kısmını oluşturur */

.yol {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: green;
}


/* Top, oyunun kontrol edilen objesini temsil eder */

#top {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(207, 50, 76);
}


/* Topun görsel detayları */

#top::before,
#top::after {
    content: '';
    position: absolute;
    top: calc(60% - 20px);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#top::before {
    left: calc(50% - 15px);
    background-color: rgb(0, 0, 0);
    z-index: 1;
}

#top::after {
    left: calc(50% + 5px);
    background-color: rgb(0, 0, 0);
    z-index: 1;
}


/* Topun kenar çizgileri */

#top::before,
#top::after {
    border: 2px solid rgb(255, 254, 254);
}


/* Bulutlar */

.bulut {
    position: absolute;
    top: 20px;
    left: 80px;
    width: 400px;
    height: auto;
}

.bulut2 {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 400px;
    height: auto;
    margin-top: -160px;
}

.bulut3 {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 400px;
    height: auto;
    margin-top: -160px;
}


/* Yıldız */

.yildiz {
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 70px;
    height: auto;
}


/* Siyah top */

.siyah-top {
    width: 40px;
    height: 40px;
    background-color: black;
    position: absolute;
    border-radius: 50%;
}


/* Ekranı kaplayan siyah arkaplan */

#ekranKaplayici {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: none;
    /* Başlangıçta görünmez */
}